#goTopBtn{
    position:fixed;
    bottom:15px;
    right:15px;
    padding:8px 12px;
    border:none;
    background:#3388ff;
    color:#fff;
    border-radius:4px;
    z-index:9999;
    display:none;
}
#goTopBtn:hover{
    background:#2277ee;
}
